/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(images/header-background.jpg) no-repeat top center;
   background-size: cover !important;
  -webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 40px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #fff;
   border-color: #fff;
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #F06000; }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;
   animation: upDown 3s infinite;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #F06000; }

header .txt-rotate { border-right: 0.08em solid #fff}

@keyframes upDown {
  25% {
    transform: translateY(-15%);
    opacity: 0.5;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
    }
  75% {
      transform: translateY(-15%);
      opacity: 0.5;
    }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 0.75em 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 1;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque {
  background-color:#000;
  opacity: 0.7;
 }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 5vw;
   line-height: 32px;
   text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: #F2F8FFFF;
   padding-top: 10vh;
   padding-bottom: 10vh;
   overflow: hidden;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #F06000; }

#about h2.headerr {
   font: 42px 'opensans-bold', sans-serif;
   color: #3C3C3C;
   margin-bottom: 12px;
   text-align: center;
   opacity: 0;
}
#about p.description {
   line-height: 30px;
   color: #7A7A7A;
   text-align: center;
   opacity: 0;
}
#about .profile-pic {
   position: relative;
   border-radius: 100%;
   vertical-align: middle;
   opacity: 0;
/*   animation: fadeInUp 1s ease-in-out;
*/
}
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #000;
   font-size: 0.75em;
   text-align: center;
   display: block;
}
#about .download .button:hover {
   background: #fff;
   color: #000;
}
#about .download .button i {
   margin-right: 0.5vw;
}

#about p span {
   color: #3C3C3C;
   font-weight: 700;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ------------------------------------------------------------------ */
/* d. Experience Section
/* ------------------------------------------------------------------ */

.title {
  margin-bottom: 25px;
  color: #AEB6BF;
  font-size: 18px;
}
.title span {
  color: #5DADE2;
}
.content {
  width: 640px;
  margin:  45px auto;
}
  .tabs-body {

  }
    .tabs-header {
      display: table;
      width: 100%;
      list-style-type: none;
    }
      .tabs-header li {
        display: table-cell;
        text-align: center;
        color: #ECF0F1;
        cursor: pointer;
        width: 25%;
      }
        .tabs-header li > a {
          display: block;
          padding: 15px;
          background: #F2F8FFFF;
          transition: all .2s ease-in;
        }
          .tabs-header li > a span {
            display: block;
          }
        .tabs-header li > a:hover {
          background: #ECECECFF;
          color: #F7F9F9;
        }
        .tabs-header li.active > a {
          background: #ECECECFF;
          border-bottom: 3px solid #F06000;
          padding-bottom: 12px;
        }
    .tabs-content {
      margin-top: 15px;
      position: relative;
      padding: 20px 25px;
      overflow: hidden;
    }
      .tabs-content .tabs-textItem {
        display: none;
        transform: translateY(100%);
      }
      .tabs-content .tabs-textItem.show {
        display: block;
        transform: translateY(0);
        animation: change .49s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      .tabs-content .tabs-textItem p {
        color: #F2F3F4;
      }

@keyframes change {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



#experience {
   background: #fff;
   padding-top: 50px;
   padding-bottom: 40px;
   overflow: hidden;
   white-space: pre-wrap;
}

#experience a, #experience a:visited  { color: #F06000; }
#experience a:hover, #experience a:focus { color: #313131; }

#experience h4 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#experience h3 {
      font: 25px/30px 'opensans-bold', sans-serif;
}

#experience p {
   font-size: 16px;
   color: #647373;
}

#experience .header-col { padding-top: 9px; }
#experience .main-col { padding-right: 10%; }

#experience .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#experience .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#experience .date {
   font: 16px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

/* ------------------------------------------------------------------ */
/* e. projects Section
/* ------------------------------------------------------------------ */

#projects {
   background: #ebeeee;
   padding-top: 60px;
   padding-bottom: 60px;
   padding-right: 20px;
   padding-left: 20px;
   line-height: normal;
}

#projects .grid-container {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px 40px;
}

#projects .cell {
  color: white;
  text-align: center;
  -webkit-box-align:center;
  align-items:center;
  max-height:500px;
  background:center center no-repeat #ffffff;
  background-size:contain;
  -webkit-transition:-webkit-box-shadow .25s;
  transition:-webkit-box-shadow .25s;
  transition:box-shadow .25s;
  transition:box-shadow .25s,-webkit-box-shadow .25s;
  -webkit-box-shadow:0 4px 10px rgba(0,0,0,.2);
  box-shadow:0 4px 10px rgba(0,0,0,.2);
  position:relative
}

#projects .cell > img {
   object-fit: cover;
   width: 100%;
}

#projects img {
   border: 0;
}

#projects .cell .grid-item-cover{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    vertical-align: middle;
}

h2.project_name {
  text-align: center;
}

#projects h3.project-name  {
    font-size:2rem;
    color:#F06000;
    margin-bottom:10px;
    font-weight:700;
    padding:0 15px;
    margin-top:100px;
}

#projects h4.project-desc{
    font-size:1.5rem;
    vertical-align:middle;
    color:#fff;
    padding:0 50px;
}

#projects .grid-item-cover-bg {
    opacity: 0;
    background-color: #000;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    width: 100%;
    height: 100%;
}

#projects .grid-item-cover:hover .grid-item-cover-bg{
    opacity:.9;
    animation: change .49s cubic-bezier(0.555, 0.175, 0.32, 1.275);
}

#projects .grid-item-cover:hover .grid-content{
    visibility: visible;
    animation: change .49s cubic-bezier(0.555, 0.175, 0.32, 1.275);
}

#projects .grid-content {
   position:absolute;
   visibility: hidden;
   top:0;
   left:0;
   width:100%;
   height:100%;
   text-align:center;
}

.projectTitle {
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid black;
}


.project-try-button{
    color:#fff;
    border-color:#F06000;
    background-color:#F06000;
    -webkit-transition:.4s all;
    transition: .4s all;
    border-radius: 99px;
    min-width: 100px;
    font-size: 1.2rem;
    border: 2px solid rgba(119,119,119,.8);
    float: left;
    margin-left: 30%;
}
.project-try-button:hover{
    background-color: #FF983CFF;
}

.project-close-button{
    color:#F06000;
    border-color:#fff;
    background-color:#fff;
    -webkit-transition:.4s all;
    transition: .4s all;
    border-radius: 99px;
    min-width: 100px;
    font-size: 1.2rem;
    border: 2px solid rgba(119,119,119,.8);
    float: right;
    margin-right: 30%;
}

@media (max-width: 940px){
  #projects h3.project-name  {
    margin-top: 40px;
  }

  #projects h4.project-desc{
    font-size:1.3rem;
  }

}

@media (max-width:767px){
    #projects .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    #projects h3.project-name  {
      margin-top: 250px;
    }

    #projects .cell {
      max-height: 750px;
    }
    #projects h4.project-desc{
      font-size:1.5rem;
    }
    .project-try-button{
      margin-left: 18%;
    }
    .project-close-button{
      margin-right: 18%;
    }
}

@media (max-width: 500px){
  #projects h3.project-name  {
      margin-top: 150px;
    }
    .project-try-button{
      margin-left: 10%;
    }
    .project-close-button{
      margin-right: 10%;
    }
}


#projects span {
  font-weight: 700;
  color: black;
}

#projects h2.project-tech {
  color: gray;
  font-size: 1.75rem;
  text-align: center;
}

#projects ul {
    list-style-type: square;
    list-style-position: inside;
}

#projects li {
    display: list-item;
    padding-bottom: 5px;
    text-align: left;
    font-size: 1.6rem;
    color: #000;
    padding-left: 20%;
    width: 80%;
}

.content-container {
  padding: 0 20px;
}


    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
       -webkit-transform:translate3d(0px,0,0);
    -moz-transform:translate3d(0px,0,0);
    -o-transform:translate(0px,0px);
    -ms-transform:translate3d(0px,0,0);
    transform:translate3d(0px,0,0);
    }

.swiper-container{
    width:100%;
    height:550px;
    position:relative
}
.swiper-container .swiper-slide{
    cursor:move;
    cursor:-webkit-grab;
    cursor:grab
}
.swiper-container .swiper-slide .swiper-slide-bg{
    background:center center no-repeat #fff;
    background-size:contain;
    height:500px;
    width:100%;
    position:absolute;
    top:0
}
.swiper-container .caption{
    text-align:center;
    width:100%;
    position:absolute;
    bottom:30px;
    opacity:.7;
    height:1.333rem;
    line-height:1.33rem;
    font-size:1.5rem;
    padding:0 15px;
    font-weight: 700;
    color:#000;
}
@media (max-width:480px){
    .swiper-container .caption{
        bottom:40px;
        padding:0 10px
    }
    .swiper-container {
      height: 350px;
    }
    .swiper-container .swiper-slide .swiper-slide-bg {
      height: 300px;
    }
}

@media (max-width:767px){
    .swiper-container {
      height: 450px;
    }
    .swiper-container .swiper-slide .swiper-slide-bg {
      height: 400px;
    }
}


.swiper-container .swiper-pagination{
    bottom:0
}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active{
    background-color:#F06000
}
.swiper-container .swiper-button-next{
    background-image:url(images/swiper_next_green.svg)
}
.swiper-container .swiper-button-prev{
    background-image:url(images/swiper_before_green.svg)
}

/* ------------------------------------------------------------------ */
/* f. contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: #fff;
   padding-top: 50vh;
   padding-bottom: 50vh;
   padding-right: 20vw;
   padding-left: 20vw;
   line-height: normal;
   text-align: center;
}

/* ------------------------------------------------------------------ */
/* g. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #fff; }
footer a:hover, footer a:focus { color: #F06000; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #F06000;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }


#go-top {
  position: absolute;
  top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #525252;

  -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

  color: #fff;
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%;
  animation: upDown 3s infinite;

}
#go-top a:hover { background-color: #F06000; }

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
